.container {
    /* width: 100%; */
    background-image: url('./assets/gradientBg.png');
    background-size: cover;
    background-position: center;
    position: relative;
    padding:30px 50px 0 50px;
  }

  @media screen and (max-width: 540px) {
    .container {
      width: fit-content;
    }
  }
  
  .header-container{
    padding: 30px 65px;
  }
